*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FFFFFF;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid black;

}

main{
    background-color: #7FFFD4;
    width: 100%;
    height: calc(100vh - 100px);
}

article.container-grid{
    width: 80%;
    margin: 0 auto;
}

button.button-start{
    margin-right: 50px;
    width: 70px;
    height: 30px;
}

.bg-color{
    background-color: aqua;
}

.square-class {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}